APP_NAME=Laravel
APP_ENV=dusk
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/dusk.sqlite

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=null

MAIL_MAILER=array

TELESCOPE_ENABLED=false
PULSE_ENABLED=false

DUSK_HEADLESS_DISABLED=false
DUSK_DRIVER_URL=http://localhost:9515
